// ----------------------------------------------------- //
// Fonts
// ---------------------------------------------------- //

@font-face {
    font-family: 'iransansXV';
    src: url('~/assets/fonts/IRANSansXV.woff') format('woff-variations'),
        url('~/assets/fonts/IRANSansXV.woff') format('woff');
    font-weight: 100 900;
    font-display: fallback;

}

// Persian Number font

@font-face {
    font-family: IranSansFaNum;
    src: url('~/assets/fonts/IRANSansXFaNum-Medium.ttf') format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: IranSansFaNum;
    src: url('~/assets/fonts/IRANSansXFaNum-Regular.ttf') format('ttf');
    font-weight: 500;
}

@font-face {
    font-family: IranSansFaNum;
    src: url('~/assets/fonts/IRANSansXFaNum-Thin.ttf') format('ttf');
    font-weight: 300;
}

@supports (font-variation-settings: normal) {
    html,
    html * {
        font-family: 'iransansXV', sans-serif !important;
    }
}

html,
html * {
    white-space: normal;
    font-variation-settings: "wght" 400, "dots" 0
}