//------------------------------------------------
//  From Styles
//------------------------------------------------

.v-field {
    &__outline {

        &__end,
        &__start {
            border-radius: 0 !important;
        }

        &__start,
        &__end,
        &__notch::before,
        &__notch::after {
            border-color: #BDBDBD !important
        }

        &__start {
            border-top-right-radius: 3px !important;
            border-bottom-right-radius: 3px !important;
        }

        &__end {
            border-top-left-radius: 3px !important;
            border-bottom-left-radius: 3px !important;
        }

        &__notch {
            .v-field-label {
                font-size: 12px !important;
                color: #9E9E9E !important;
            }
        }
    }

    &__input {
        padding: 14px 10px !important;
        font-family: 'IranSansFaNum' !important;
    }
}

.v-field-label {
    font-size: 14px !important;
}


.v-input__details {
    padding: 5px 0 0 !important;
}

.v-messages__message {
    font-size: 11px !important;
}

.v-label {
    &--clickable {
        font-size: 14px !important;
        font-family: 'IranSansFaNum' !important;
    }
}

.btn {
    letter-spacing: 0 !important;
    height: 44px !important;
    font-variation-settings: "wght" 500 !important;
    box-shadow: none !important;

    &--cancel {
        border: 2px solid #D72685 !important;
        color: #D72685 !important;
    }

    &--submit {
        background-color: #D72685 !important;
        color: #fff !important;
    }

    &--submit-border {
        border:2px solid #D72685 !important;
        background-color: #fff !important;
        color: #D72685 !important;
    }
}

.v-btn {
    &__content {
        letter-spacing: 0;
        font-variation-settings: "wght" 500;
    }

    &--disabled {
        border: 0 !important;
        background: rgba(0, 0, 0, 0.12) !important;
        color: rgba(0, 0, 0, 0.26) !important;
    }
}

.form-date {
    position: relative;

    .v-field__input{
        color: transparent !important;
    }

    .pdp-footer{
        display: none !important;
    }

    .pdp {
        position: absolute;
        top: 5px;
    }

    .pdp-icon {
        display: none;
    }

    .pdp-input {
        border: 0 !important;
        height: 63px !important;
    }

    .pdp-weekday,
    .pdp-overlay,
    .pdp-day,
    .pdp-year,
    .pdp-input,
    .pdp-select-year li {
        font-family: 'IranSansFaNum' !important;
    }

    .pdp-year,
    .friday,
    .pdp-month {
        color: #D72685 !important;
    }

    .pdp .pdp-picker .pdp-main .pdp-date .pdp-column .pdp-days .pdp-day:not(.disabled):hover,
    .pdp .pdp-picker .pdp-main .pdp-date .pdp-column .pdp-days .pdp-day.today {
        border-color: #D72685 !important;
    }

    .pdp .pdp-picker .pdp-main .pdp-date .pdp-column .pdp-days .pdp-day.start-range,
    .pdp .pdp-picker .pdp-main .pdp-date .pdp-column .pdp-days .pdp-day.end-range {
        background-color: #D72685 !important;
    }
}