//------------------------------------------------
//  Product filter sidebar
//------------------------------------------------
@import "~/assets/scss/tools/bp";

.filter-sidebar {
    background-color: #FAFAFA;
    border-radius: 16px;
    padding: 20px;
    border: 1px solid #CBCBCB;

    &__btn{
        height: 34px !important;
        border-radius: 12px !important;

        &.v-btn--disabled{
            background-color: transparent !important;
            border: 2px solid #BDBDBD !important;

            .v-btn__content, .v-btn__content span{
                color: #BDBDBD !important;
            }

            .v-btn__overlay{
                background-color: transparent !important;
            }
        }
    }

    &__card {
        
        &__header {
            cursor: pointer;

            .v-icon {
                font-size: 17px !important;

                @include gbp (0, 768) {
                    font-size: 20px !important;
                }
            }
        }

        &__box{
            overflow: hidden;
            padding: 0;
            max-height: 0;
            transition: max-height 0.25s ease-out;

            &.open-card{
                padding-bottom: 12px;
                max-height: 1000px;
                transition: max-height 0.25s ease-in;
            }

            .v-checkbox{
                .v-label--clickable{
                    font-weight: 700 !important;
                    font-size: 13px !important;
                }
                .mdi-checkbox-blank-outline.v-icon{
                    color: #444 !important;
                }

                .v-input__control{
                    height: 40px !important;
                }
            }


            .v-input.filter-sidebar__card__search{
                .v-input__control{
                    border-radius: 12px !important;
                    border: 1px solid #E8E8E8 !important;
                    background: #F5F5F5 !important;
                    position: relative;
                }

                .v-icon
                {
                    font-size: 24px !important;
                }

                .v-field__input{
                    font-size: 13px !important;
                    color: #6A6A6A !important;
                    opacity: 1 !important;

                    &::placeholder{
                        font-size: 13px !important;
                        color: #6A6A6A !important;
                        opacity: 1 !important;
                    }
                }

                .v-field__outline{
                    display: none;
                }
            }
        }

        li {
            list-style: none !important;
            cursor: pointer;
        }

        &--status {
            .v-selection-control {
                justify-content: flex-end;
            }
        }

        &__scroll {
            max-height:250px ;
            height: 250px;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 4px !important;
            }

            &::-webkit-scrollbar-track {
                border-radius: 4px;
                background-color: #F5F5f5;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: #EFA8CE;
            }

            .v-selection-control {
                min-height: 41px !important;
            }
        }

        &__search {
            .v-input__control,
            .v-field__field,
            .v-field__prepend-inner,
            .v-field__input,
            input,
            .v-autocomplete__selection-text {
                height: 40px !important;
                font-family: 'IranSansFaNum' !important;
            }
        }

        &__color{
            width: 24px;
            height: 24px;
            border-radius: 50%;
            display: block;
        }


        &--mobile{
            $parent : 'filter-sidebar__card';

            .#{$parent} {
                &__box{
        
                    .v-input.filter-sidebar__card__search{
                        .v-input__control{
                            border-radius: 12px !important;
                            border: 1px solid #E8E8E8 !important;
                            background: #F5F5F5 !important;
                            position: relative;
                        }
        
                        .v-icon
                        {
                            font-size: 26px !important;
                        }
        
                        .v-field__input{
                            font-size: 15px !important;
                            color: #6A6A6A !important;
                            opacity: 1 !important;
        
                            &::placeholder{
                                font-size: 15px !important;
                                color: #6A6A6A !important;
                                opacity: 1 !important;
                            }
                        }
        
                        .v-field__outline{
                            display: none;
                        }
                    }
        
                    .v-checkbox{
                        .v-label--clickable{
                            font-weight: 700 !important;
                        }
                        .mdi-checkbox-blank-outline.v-icon{
                            color: #444 !important;
                        }
                    }
                }

                
                &__scroll{
                    &::-webkit-scrollbar-track {
                        background-color: #F5F5F5 !important;
                    }
        
                    &::-webkit-scrollbar-thumb {
                        background-color: #EFA8CE !important;
                    }
                }
            }
        }
    }
}