//------------------------------------------------
// Grid system for SM size
//------------------------------------------------

.col-3 {
    flex: 0 0 100%;
    max-width: 100%;

    @include gbp(768) {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.col-9 {
    flex: 0 0 100%;
    max-width: 100%;
    
    @include gbp(768) {
        flex: 0 0 75%;
        max-width: 75%;
    }
}

.col-4 {
    flex: 0 0 100%;
    max-width: 100%;
    
    @include gbp(768) {
        flex: 0 0 30%;
        max-width: 30%;
    }
}

.col-5 {
    flex: 0 0 100%;
    max-width: 100%;
    
    @include gbp(768) {
        flex: 0 0 45%;
        max-width: 45%;
    }
}