//------------------------------------------------
// Grid system for SM size
//------------------------------------------------

.col-3 {
    flex: 0 0 100%;
    max-width: 100%;

    @include gbp(769) {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.col-9 {
    flex: 0 0 100%;
    max-width: 100%;
    
    @include gbp(769) {
        flex: 0 0 75%;
        max-width: 75%;
    }
}
