//------------------------------------------------
//  Mobile menu
//------------------------------------------------

$parent: 'menu';

.#{$parent} {
    &--mobile {
        height: calc(100vh - 174px);
        width: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #fff;
        z-index: 10;
        transition: height 0.3s ease-in-out, top 0.3s ease-in-out, right 0.3s ease-in-out;

        &.change-height {
            height: calc(100vh - 56px);
            top: 0;
            transition: height 0.3s ease-in-out, top 0.3s ease-in-out, right 0.3s ease-in-out;
        }

        &.change-height2 {
            height: calc(100vh - 56px);
            top:0 ;
            transition: height 0.3s ease-in-out, top 0.3s ease-in-out, right 0.3s ease-in-out;
        }

        &.change-height2 {
            height: calc(100vh - 126px);
            top:70px;
            transition: height 0.3s ease-in-out, top 0.3s ease-in-out, right 0.3s ease-in-out;
        }

        &.open-menu {
            right: 0;
            transition: height 0.3s ease-in-out, top 0.3s ease-in-out, right 0.3s ease-in-out;
        }

        &.has-banner{
            top: 182px;
            height: calc(100vh - 238px);
        }

        &.menu-plp{
            top: 48px;
            height: calc(100vh - 104px);
            &.has-banner{
                top: 112px;
                height: calc(100vh - 168px);
            }

            &.change-height {
                height: calc(100vh - 56px);
                top: 0;
                transition: height 0.3s ease-in-out, top 0.3s ease-in-out, right 0.3s ease-in-out;
            }
        }

        a{
            text-decoration: none !important;
        }

        .menu__name{
            display: flex;
            align-items: center;
            margin: 7px 0;
            padding-right: 15px;

            span{
                color:#3C3C3C;
            }
        }

        .#{$parent}__slider{
            img{
                height: auto !important;
            }
        }

        >nav {
            height: 100%;

            > div{
                height: 100%;
                max-height: 100%;
                overflow: auto;

                & > ul {
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    background-color: #fff;
                    box-shadow: 0px 6px 6px -3px rgba(126, 126, 126, 0.20);
                    padding-right:16px;
                    padding-left: 16px;
                    justify-content: flex-start;
    
                    li {
                        list-style: none;
                    }
    
                    > li {
                        border-bottom: 1px solid #edecec;

                        >.#{$parent}__item__info{
                            padding-bottom: 12px;

                            .child-preview{
                                overflow: hidden;
                                width: 100%;
                                position: relative;
                                height: 24px;

                                &::after{
                                    content: '';
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    right: 0;
                                    background: rgb(255,255,255);
                                    background: linear-gradient(90deg, rgba(255,255,255,1) 1%, rgba(255,255,255,0.5144651610644257) 13%, rgba(255,255,255,0) 25%);
                                    z-index: 1;
                                }

                                .sp{
                                    font-size: 4px !important;
                                }
                            }

                            >.#{$parent}__item__link {
                                display: flex;
                                align-items: center;
                                padding: 12px 0 1px;
                                margin-right: -6px;
                                position: relative;
                                z-index: 1;
        
                                >.v-icon {
                                    color: #D72685;
                                    font-size: 19px;
                                }
        
                                >span{
                                    color: #000;
                                    font-size: 14px;
                                    font-variation-settings: "wght" 700;
                                }
        
                                > .down-icon{
                                    position: absolute;
                                    left: 0;
                                    font-size: 23px;
                                    color: #9A9A9A;
                                    transition: transform 0.3s ease-in-out;
                                }
                            }
                        }
                         
                        &.active-menu {

                            .child-preview {
                                display: none !important;
                            }
    
                            > .#{$parent}__item__info >.#{$parent}__item__link {
                                > .down-icon{
                                    transition: transform 0.3s ease-in-out;
                                    transform: rotate(-180deg);
                                }
                            }
                        }
    
                        > ul {
                            display: flex;
                            flex-direction: column;
                            position: relative;
                            
                            max-height: 0;
                            transition: max-height 0.15s ease-out;
                            overflow: hidden;
    
                            &.show-mega-menu {
                                overflow: auto;
                                max-height: 500px;
                                transition: max-height 0.25s ease-in;
                                padding: 0 5px 25px 0;
                            }
    
                            >li {
                                padding: 9px 5px;
                                border-right: 1px solid #EFA8CE;
    
                                &:first-child{
                                    padding-top: 0 !important;
                                }
    
                                &:last-child{
                                    padding-bottom: 0 !important;
                                }
    
                                >.#{$parent}__item__link {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-around;
    
                                    >span {
                                        color: #9A9A9A
                                    }
    
                                    >.v-icon {
                                        font-size: 17px;
                                        color: #9e9e9e;
                                        transition: transform 0.3s ease-in-out;
                                    }
                                }
    
                                &.active-sub-menu {
                                    >.#{$parent}__item__link {
                                        >.v-icon {
                                            transition: transform 0.3s ease-in-out;
                                            transform: rotate(-90deg);
                                        }
                                    }
                                }
    
                                >ul {
                                    padding-top: 8px;
                                    display: none;
    
                                    >li {
                                        padding: 8px 16px;
    
                                        >.#{$parent}__item__link {
                                            color: #9E9E9E;
                                        }
    
                                    }
    
                                    &.show-sub-menu {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}