//------------------------------------------------
//  Banner
//------------------------------------------------

$parent: 'banner';

.#{$parent} {
    &--mobile {
        .#{$parent} {
            &__image{
                display: flex;
                
                img{
                    border-radius: 8px;
                    width: 100%;
                    height: auto;
                }
            }

            &__item{
                width: 90%;
                flex: 0 0 90%;;
                margin-left: 8px;
            }
        }
    }
}