//------------------------------------------------
//  Blog card
//------------------------------------------------
@import "~/assets/scss/tools/bp";

.blog-card{
    display: block;
    position: relative;
    height: 189px;
    border-radius: 8px;
    overflow: hidden;

    img{
        width: 100%;
        height: auto;
        min-height: 100%;
    }

    &__title{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #2B081B 100%);
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        padding: 24px 15px;

        h3{
            color: #fff;
        }
    }
}