//------------------------------------------------
//  Brands
//------------------------------------------------
@import "~/assets/scss/tools/bp";


.brands {
    display: flex;
    padding: 15px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__header {
        display: flex;
        align-items: center;
    }

    .brands__swiper {
        width: 100%;

        .swiper {
            .swiper-button-next,
            .swiper-button-prev {
                border-radius: 16px !important;
                background: #FBE9F3 !important;
                width: 42px !important;
                height: 42px !important;
    
                &::before {
                    width: 23px;
                    height: 23px;
                    border-radius: 50%;
                    content: '';
                    position: absolute;
                    top: calc(50% - 11.5px);
                    right: calc(50% - 11.5px);
                    background-color: #D72685;
                }
    
                &::after {
                    z-index: 1;
                    color: white;
                    font-size: 13px;
                
                }
            }
        }
    }

    &__item {
        height: 120px;
        overflow: hidden;
        box-shadow: 0px 2px 4px 0px rgba(97, 97, 97, 0.10);
        border-radius: 12px;
        box-sizing: border-box;

        img {
            width: auto;
            height: 58px;
            max-width: 100%;
        }
    }
}