//------------------------------------------------
//  Surprise
//------------------------------------------------
@import "~/assets/scss/tools/bp";

.surprise-slider {
    >div:first-child {
        background-color: #C51162;
        height: 292px;
        padding: 16px 0;

        @include gbp("md") {
            border-radius: 8px;
        }
    }

    &__info {
        width: 160px;
        flex: 0 0 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;

        @include gbp("md") {
            width: 200px;
            flex: 0 0 200px;
        }

        &__counter {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-family: 'IranSansFaNum' !important;
                color: #fff;
                font-weight: 500 !important
            }

            .v-icon {
                color: #fff;
                font-size: 24px;
            }
        }

        &__image {
            width: 111px;

            img {
                width: 100%;
                height: auto !important;
            }
        }

        &__title {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__btn {
            letter-spacing: 0 !important;
            width: auto;
            border-color: #F7F8FA !important;
            color: #F7F8FA !important;
            height: 33px !important;
            border-radius: 12px;

            @include gbp("md") {
                width: 130px !important;
            }

            .v-btn__content{
                font-size: 12px;
                font-variation-settings: "wght" 700;
            }
        }
    }

    &__swiper {
        width: 100%;
        padding-left: 2px;
        height: 100%;

        @include gbp("md") {
            width: calc(100% - 200px);
            flex: 0 0 calc(100% - 200px);
        }

        .swiper{
            height: 100%;
        }
    }

    .swiper-slide{
        height: initial !important;

        .product-card{
            height: calc(100% - 20px) !important;
        }
    }

    .swiper-button-next,
    .swiper-button-prev{
        border-radius: 16px !important;
        background: #FBE9F3 !important;
        width: 42px !important;
        height: 42px !important;

        &::before{
            width: 23px;
            height: 23px;
            border-radius: 50%;
            content: '';
            position: absolute;
            top: calc(50% - 11.5px);
            right: calc(50% - 11.5px);
            background-color: #D72685;
        }

        &::after{
            z-index: 1;
            color: white;
            font-size: 13px;
        
        }
    }
}