//------------------------------------------------
//  Tab slider1
//------------------------------------------------

$parent: 'tab-slider1';

.#{$parent} {
    &--mobile {
        >div {
            display: flex;
            flex-direction: column;
        }

        .#{$parent} {
            &__header {
                width: 100%;
                padding: 10px 0;
                overflow-x: auto;
                margin-bottom: 2px;

                &::-webkit-scrollbar {
                    display: none;
                }

                ul {
                    width: max-content;
                }

                li {
                    padding: 5px 10px;
                    font-size: 13px;
                    color: #757575;
                    list-style: none;
                    position: relative;
                    display: inline-block !important;
                    border-radius: 30px;
                    margin-left: 8px;
                    background-color: #efefef;
                    cursor: pointer;

                    &.active {
                        background-color: #D72685;
                        color: #fff;
                    }
                }
            }

            &__contents {
                width: 100%;
                background-color: #fff;
                overflow-x: auto;
                border-radius: 8px;
                border: 1px solid #E0E0E0;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            &__content {
                width: 900px;
                flex: 0 0 900px;
                display: none !important;
                height: 100%;

                &.active {
                    display: flex !important;
                }

                .product-card {
                    border: 0;
                    border-left: 1px solid #E0E0E0;
                    border-radius: 0;

                    &:last-child {
                        border-left: 0 !important;
                    }
                }

                .product-card__title {
                    font-size: 12px !important;
                }
            }
        }
    }
}