//------------------------------------------------
//  Breadcrumbs
//------------------------------------------------
@import "~/assets/scss/tools/bp";

.v-breadcrumbs {
    padding-top: 0 !important;
    padding-bottom: 25px !important;
    padding-right: 0 !important;
    
    .v-breadcrumbs-item,
    .v-breadcrumbs-item h1 {
        font-size: 13px !important;
        font-weight: 400 !important;
    }
}