//------------------------------------------------
//  Breadcrumbs
//------------------------------------------------

.v-breadcrumbs {
    padding-top: 0 !important;
    padding-bottom: 25px !important;
    
    .v-breadcrumbs-item {
        font-size: 13px !important;
        font-weight: 400 !important;
    }
}