//------------------------------------------------
//  Accordion - v-expansion-panel Component
//------------------------------------------------

.accordion {
    &__header {
        border-radius: 4px;
        border: 1px solid var(--grey-grey-lighten-2, #E0E0E0);
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        font-size: 13px !important;
    }

    .v-expansion-panel-title {
        padding: 9px 24px;
        line-height: 28px;

        &--active {
            background: var(--pink-pink-lighten-5, #FBE9F3);
            min-height: 64px !important;
            box-shadow: none !important;
            border: 0 !important;

            .v-expansion-panel-title__overlay {
                opacity: 0 !important;
            }
        }
    }

    >.v-expansion-panel {
        >.v-expansion-panel__shadow {
            box-shadow: none !important;
        }
        &--active{
            >.v-expansion-panel__shadow {
                box-shadow: 0px 3px 1px -2px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 2px 2px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 5px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
            }
        }
    }
}