//------------------------------------------------
//  Tab slider
//------------------------------------------------

@import "~/assets/scss/tools/bp";

$parent: 'tab-slider';

.#{$parent} {
    >div {
        display: flex;
        border-radius: 8px;
        border: 1px solid #E0E0E0;
        flex-direction: column;

        @include gbp (769) {
            overflow: hidden;
        }

        @include gbp (0, 768) {
            flex-direction: column;
            border: 0;
        }
    }

    &__header {
        width: 100%;
        display: flex;
        margin-bottom: 10px;
        padding: 10px 0;

        @include gbp (0, 768) {
            width: 100% !important;
            display: block !important;
            padding: 0;
        }

        ul {
            @include gbp (768) {
                display: flex;
                padding: 0 12px !important;
            }

            @include gbp (0, 768) {
                width: max-content;
            }
        }

        li {
            padding: 10px 16px;
            font-size: 15px;
            color: #757575;
            list-style: none;
            cursor: pointer;

            span {
                padding-bottom: 8px
            }

            &.active {
                span {
                    border-bottom: 2px solid #D72685;
                }
            }

            @include gbp (0, 768) {
                padding: 7px 16px !important;
                font-size: 12px !important;
                display: inline-block !important;
                border-radius: 30px !important;
                margin-left: 8px !important;
                background-color: #fff !important;
                border:1px solid #E8E8E8;

                &.active {
                    background-color: #D72685 !important;

                    span {
                        border: 0 !important;
                        color: #fff !important;
                    }
                }

                span {
                    padding: 0 !important;
                    color: #3c3c3c;
                    font-variation-settings: "wght" 700;
                }
            }

        }

        @include gbp (0, 768) {
            padding: 10px 0 !important;
            overflow-x: auto !important;
            margin-bottom: 2px !important;
            border: 0 !important;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &__contents {
        width: 100%;
        background-color: #fff;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        @include gbp (0, 768) {
            border: 1px solid #E0E0E0;
            border-radius: 8px;
            overflow-x: auto;
            overflow-y: hidden;
        }
    }

    &__content {
        display: none !important;
        height: 100%;

        &.active {
            display: flex !important;
        }
    }

    &.column-header {
        >div {
            flex-direction: row;
        }

        .#{$parent} {
            &__header {
                width: 210px;
                flex: 0 0 210px;
                background: var(--grey-grey-lighten-5, #FAFAFA);
                box-shadow: -4px 0px 10px 0px rgba(170, 170, 170, 0.25);
                flex-direction: column;
                border-left: 1px solid #E0E0E0;
                margin-bottom: 0;

                ul {
                    padding: 0 !important;

                    @include gbp (768) {
                        flex-direction: column;
                    }
                }

                li {
                    flex: 1;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span {
                        padding: 0 !important;
                    }

                    .v-icon {
                        display: none;
                    }

                    &.active {
                        span {
                            border: 0 !important;
                        }

                        &::before {
                            position: absolute;
                            width: 4px;
                            height: 100%;
                            border-radius: 6px 0px 0px 6px;
                            background: var(--conceptual-primary, #D72685);
                            top: 0;
                            right: 0;
                            content: '';
                        }

                        .v-icon {
                            display: block;
                            font-size: 16px;
                        }
                    }
                }
            }

            &__contents {
                width: calc(100% - 210px);
                flex: 0 0 calc(100% - 210px);
            }
        }
    }

    &.mobile-mode{
        > div {
            flex-direction: column;
            border: 0;
        }

        .#{$parent}{
            &__header {
                width: 100% !important;
                    display: block !important;
                    padding: 0;
        
                ul {
                    width: max-content;
                    padding: 0 !important;
                }
        
                li {
                    padding: 7px 16px !important;
                    font-size: 12px !important;
                    display: inline-block !important;
                    border-radius: 30px !important;
                    margin-left: 8px !important;
                    background-color: #fff !important;
                    border:1px solid #E8E8E8;
    
                    &.active {
                        background-color: #D72685 !important;
    
                        span {
                            border: 0 !important;
                            color: #fff !important;
                        }
                    }
    
                    span {
                        padding: 0 !important;
                        color: #3c3c3c;
                        font-variation-settings: "wght" 700;
                    }
                }
        
                @include gbp (0, 768) {
                    padding: 10px 0 !important;
                    overflow-x: auto !important;
                    margin-bottom: 2px !important;
                    border: 0 !important;
        
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }

            &__contents {
                background-color: transparent !important;
                border: 0;

                .#{$parent}__content{
                    .swiper-button-next,
                    .swiper-button-prev{
                        border-radius: 16px !important;
                        background: #FBE9F3 !important;
                        width: 42px !important;
                        height: 42px !important;
            
                        &::before{
                            width: 23px;
                            height: 23px;
                            border-radius: 50%;
                            content: '';
                            position: absolute;
                            top: calc(50% - 11.5px);
                            right: calc(50% - 11.5px);
                            background-color: #D72685;
                        }

                        &::after{
                            z-index: 1;
                            color: white;
                            font-size: 13px;
                        
                        }

                        &.swiper-button-disabled{
                            display: none !important;
                        }
                    }
                }
            }
        }
    }

}