//------------------------------------------------
//  Banner
//------------------------------------------------

$parent: 'banner';

.#{$parent} {
    &--desktop {
        .#{$parent} {
            &__image{
                img{
                    border-radius: 8px;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}