//------------------------------------------------
//  Banner
//------------------------------------------------

$parent: 'banner';

.#{$parent} {
    &--desktop {
        .#{$parent} {
            &__image{
                display: flex !important;
                
                img{
                    border-radius: 8px !important;
                    width: 100% !important;
                    height: auto !important;
                }
            }
        }
    }
}