//------------------------------------------------
//  Main slider
//------------------------------------------------

$parent: 'main-slider';

.#{$parent} {
    &--desktop {
        position: relative;

        .#{$parent} {
            &__image {
                width: 100%;
                overflow: hidden;

                img {
                    width: 100% !important;
                    height: 100% !important;
                }
            }
        }

        .swiper-pagination-bullet {
            background-color: #EFA8CE !important;

            &.swiper-pagination-bullet-active {
                background-color: #D72685 !important;
            }
        }
    }
}