//------------------------------------------------
//  Home
//------------------------------------------------

.v-home {
    padding-bottom: 60px;
    padding-top: 170px;

    @include gbp (0, 768) {
        padding-bottom: 60px;
        padding-top: 75px;
    }

    .tab-slider1 {
        .product-card {
            border: 0;
            border-left: 1px solid #E0E0E0;
            border-radius: 0;
            width: 20%;
            flex:0 0 20%;

            &:last-child {
                border-left: 0 !important;
            }
        }

        .product-card__title {
            @include gbp (0, 768) {
                font-size: 12px !important;
            }
        }
    }

    .tab-slider2 {
        .tab-slider__contents {
            @include gbp (0, 768) {
                border: 0 !important;
            }
        }

        .minimal-product-card {
            width: 33.33%;
            flex: 0 0 33.33%;

            &:last-child,
            &:nth-last-child(2),
            &:nth-last-child(3) {
                .minimal-product-card__title {
                    border-bottom: 0 !important;
                }
            }

            &__title {
                @include gbp (0, 768) {
                    font-size: 12px !important;
                }
            }
        }

    }

    .custom-banner {
        .v-row {
            >div:nth-child(2) {
                @include gbp (0, 768) {
                    width: 50%;
                    flex: 0 0 50% !important
                }
            }

            >div:nth-child(3) {
                @include gbp (0, 768) {
                    width: 50%;
                    flex: 0 0 50% !important
                }
            }
        }

    }
}