//------------------------------------------------
//  Order
//------------------------------------------------
@import "~/assets/scss/tools/bp";

.v-order {
    padding-bottom: 60px;
    padding-top: 170px;

    @include gbp (0, 768) {
        padding-bottom: 80px;
        padding-top: 70px !important;
    }

    &__inner{
        min-height: 100%;
    }

    &__card{
        padding: 0 !important;
        border-radius: 32px !important;
        border-color: transparent !important;

        @include gbp (768) {
            border-color: #CBCBCB !important;
        }

        @include gbp (0, 768) {
            background-color: transparent !important;
            border-radius: 0 !important;
            margin-bottom: 0 !important;
        }

        > header{
            border: 0 !important;
        }
    }

    .v-tabs-bar__content {
        flex-wrap: wrap;
        width: 100%;
    }

    .order-details{
        &__status{
            padding: 6px 9px;
            border-radius: 6px;
    
            @include gbp (0, 768) {
                padding: 8px 9px;
            }
        }
    }

    &--return{
        &__status{
            padding:0 16px;
            height: 44px;
            border-radius: 4px;

            @include gbp(0, 480) {
                justify-content: center;
            }

            &--loading{
                background-color: #FFF3E0;
            }

            &--reject{
                background-color: #FFEBEE;
            }

            &--accept{
                background-color:#E8F5E9 ;
            }
        }
    }

    &__action {
        @include gbp(0, 480) {
            flex-direction: column;

            > div,
            .v-btn{
                width:100% !important;
                margin-top: 10px;
                margin-left: 0 !important;
            }
        }
    }
}