//------------------------------------------------
//  Products
//------------------------------------------------
@import "~/assets/scss/tools/bp";

$parent : 'v-product';

.#{$parent} {
    padding-bottom: 60px;
    padding-top: 160px;

    @include gbp (0, 768) {
        padding-bottom: 60px;
        padding-top: 75px;
    }

    &__filter {
        &__items {
            li {
                list-style: none;
                cursor: pointer;
            }
        }
    }

    .main-col{
        @include gbp (0, 768) {
            padding: 0 !important;
        }
    }

    &__contents {
        border-radius: 8px;
        overflow: hidden;
        padding: 12px 10px;
        background-color: #FAFAFA;

        @include gbp (0, 768) {
            border: 0 !important;
            border-radius: 0 !important;
        }
    }

    &__content {
        border:0;
        padding: 5px !important;

        .product-card {
            margin: 0 !important;
            border: 0 !important;
            box-shadow: 0px 2px 4px 0px rgba(97, 97, 97, 0.05);
            background-color: white;
            border-radius: 6px;
            padding: 10px !important;
            border: 0 !important;

            .product-card__title {
                margin-bottom: 5px !important;
                margin-top: 5px !important;
            }
        }
    }

    &__pagination {

        .v-pagination__prev,
        .v-pagination__next {
            .v-btn {
                background: transparent !important;
            }
        }

        .v-pagination__item {
            .v-btn__overlay {
                background-color: transparent;
                opacity: 1 !important;
            }

            .v-btn__content {
                font-family: 'IranSansFaNum' !important;
                color: #9E9E9E;
                z-index: 1;
            }

            &.v-pagination__item--is-active {
                .v-btn__overlay {
                    background-color: #D72685 !important;
                }

                .v-btn__content {
                    color: #fff !important;
                }
            }
        }
    }

    .filter-bg-mobile{
        @include gbp (0, 768) {
            background-color: #F5F5F5;
        }
    }

    .product-mobile-control{
        border-radius: var(--Space_16, 16px);
        border: 1px solid var(--Boarder-Medium, #E8E8E8);
        background: var(--White-White, #FFF);
        padding: 7px 8px 8px 11px;

        .v-icon{
            font-size: 14px;
            border: 1px solid #9a9a9a;
            padding: 8px;
            border-radius: 6px;
            display: flex;
            color: #9a9a9a !important;
            margin-left: 6px;
        }
    }

    &--single {

        @include gbp (0, 768) {
            padding-bottom: 150px !important;
        }

        .surprise-part {
            >span:first-child {
                font-family: 'Morabba' !important;
                font-weight: 500;
                margin-left: 40px;
            }
        }

        &__border {
            border-radius: 6px;
            border: 0.5px solid var(--grey-grey-lighten-2, #E0E0E0);
        }

        &__values {
            border-radius: 8px;
            background: var(--grey-grey-lighten-5, #FAFAFA);
        }

        .complete-details {
            @include gbp (0, 768) {
                margin-top: 0 !important;
            }

            &__tabs {
                border-bottom: 1px solid #E0E0E0;

                li {
                    list-style: none !important;

                    &.active {
                        &::before {
                            width: 100%;
                            border-top-right-radius: 4px;
                            border-top-left-radius: 4px;
                            background: var(--Conceptual-Primary, #D72685);
                            width: 100%;
                            height: 4px;
                            content: '';
                            position: absolute;
                            bottom: 0;
                            right: 0;
                        }

                        .v-icon {
                            color: var(--Conceptual-Primary, #D72685) !important;
                        }
                    }
                }
            }

            &__product-instructions,
            &__desc {
                .instructions {
                    overflow: hidden;
                    height: 145px;
                    position: relative;

                    &::after {
                        content: '';
                        height: 100px;
                        width: 100%;
                        background: rgb(255, 255, 255);
                        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 31%, rgba(253, 187, 45, 0) 100%);
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }

                    &.show {
                        height: auto;

                        &::after {
                            background: transparent !important;
                        }
                    }
                }

                #show-more {
                    position: relative;
                    z-index: 1;
                    margin-top: 10px;
                }
            }

            &__product-adv {
                ul {
                    padding-right: 10px;
                }
            }

            &__product-info {
                &__table {
                    >div:not(:last-child) {
                        border-bottom: 1px solid #E0E0E0;

                    }

                    >div {
                        >div:first-child {
                            width: 15%;
                            flex: 0 0 15%;

                            @include gbp(481, 768) {
                                width: 30%;
                                flex: 0 0 30%;
                            }

                            @include gbp(0, 480) {
                                width: 50%;
                                flex: 0 0 50%;
                            }
                        }

                        >div:last-child {
                            border-right: 1px solid #E0E0E0;
                            width: 10%;
                            flex: 0 0 10%;
                        }
                    }
                }
            }

        }

        .product-section-header {
            @include gbp (0, 768) {
                font-size: 14px !important;
                font-variation-settings: "wght" 500 !important;
            }
        }

        .mobile-basket {
            border-radius: 8px 8px 0px 0px;
            background: #FFF;
            box-shadow: 0px 0px 15px 0px rgba(89, 89, 89, 0.50);
            position: fixed;
            bottom: 56px;
            width: 100%;
            right: 0;
            z-index: 2;
            padding: 17px 15px;

            .v-btn {
                width: 100%;
            }
        }
    }
}