//------------------------------------------------
//  User tickets
//------------------------------------------------
@import "~/assets/scss/tools/bp";

.v-ticket {
    padding-bottom: 60px;
    padding-top: 170px;

    @include gbp (0, 768) {
        padding-bottom: 80px;
        padding-top: 0;
    }

    .ticket {
        &__form {
            &__item {
                &--text-field {
                    input {
                        height: 42px !important;
                    }

                    .v-field__input {
                        font-size: 13px !important;
                    }
                }
            }
        }
    }

    &__card{
        padding: 0 !important;
        border-radius: 32px !important;
        border-color: transparent !important;

        @include gbp (768) {
            border-color: #CBCBCB !important;
        }

        @include gbp (0, 768) {
            background-color: transparent !important;
        }

        header{
            border: 0 !important;

            .btn--submit{
                border-radius: 12px !important;
                padding-left: 24px !important;
                padding-right: 24px !important;

                .v-btn__content{
                    font-size: 14px !important;
                    font-variation-settings: "wght" 700 !important;
                }
            }
        }
    }

    &__info-card{
        @include gbp (0, 768) {
            flex-direction: column !important;
            padding-bottom: 30px !important;
            border: 0 !important;
            border-bottom:1px solid #e0e0e0 !important;
            border-radius: 0 !important;

            > div{
                margin: 10px 0;
            }

            h1,h2{
                text-align: center !important;
            }
        }
    }
}