//------------------------------------------------
//  User tickets
//------------------------------------------------
@import "~/assets/scss/tools/bp";

.v-ticket {
    padding-bottom: 60px;
    padding-top: 170px;

    @include gbp (0, 768) {
        padding-bottom: 80px;
        padding-top: 70px;
    }

    .ticket {
        &__form {
            &__1stRow{
              .w{
                  &__flex{
                      &--50{
                          width: 50%;
                          flex: 0 0 50%;
                          padding-left: 24px;
                          margin-top: 16px;
                      }
                  }
              }
                >div {

                    width: 33%;
                    flex: 0 0 33%;
                    padding-left: 24px;
                    margin-top: 16px;

                    @include gbp (0, 768) {
                        width: 100%;
                        flex: 0 0 100%;
                        padding-left: 0 !important;
                    }

                    &:last-child{
                        //padding-left: 10px !important;
                    }
                }
            }

            &__item {
                &--text-field {
                    input {
                        height: 42px !important;
                    }

                    .v-field__input {
                        font-size: 13px !important;
                    }

                    .v-field__outline{
                        &__start{
                            border-top-right-radius: 8px !important;
                            border-bottom-right-radius: 8px !important;
                        }

                        &__end{
                            border-top-left-radius: 8px !important;
                            border-bottom-left-radius: 8px !important;
                        }
                    }

                    .v-select .v-field__input {
                        height: 40px !important;
                        padding: 0 15px !important;
                    }

                }
            }
        }
    }

    .v-btn, .btn{
        .v-btn__content{
            @include gbp (0, 768) {
                flex-grow: 1 !important;
                font-variation-settings: "wght" 700;
            }
        }
    }

    &__card{
        padding: 0 !important;
        border-radius: 32px !important;
        border-color: transparent !important;

        @include gbp (768) {
            border-color: #CBCBCB !important;
        }

        @include gbp (0, 768) {
            background-color: transparent !important;
            border-radius: 0 !important;
        }

        &.margin-b-0{
            margin-bottom: 0 !important;
        }

        header{
            border: 0 !important;

            .btn--submit{
                border-radius: 12px !important;
                padding-left: 24px !important;
                padding-right: 24px !important;

                .v-btn__content{
                    font-size: 14px !important;
                    font-variation-settings: "wght" 700 !important;
                }
            }
        }
    }

    &__submit{
        &--mobile{
            @include gbp (0, 768) {
                width: 100%;
                position: fixed;
                background: var(--Background-Background, #FAFAFA);
                padding: 24px 16px 56px;
                bottom: 0;
                right: 0;
                z-index: 10;

                .v-btn__content{
                    @include gbp (0, 768) {
                        flex-grow: 1 !important;
                        font-variation-settings: "wght" 700;
                    }
                }
            }
        }
    }

    &--single{
        .v-ticket{
            &__header{
                .v-btn{
                    box-shadow: none;
                    padding: 0 24px;

                    &__content{
                        font-variation-settings: "wght" 700;
                    }
                }
            }

            &__list{
                &__sort{
                    @include gbp (0, 768) {
                        padding: 0 12px !important;
                    }

                    header{
                        height: 31px;
                        position: relative;
                        width: 100%;

                        &::before{
                            width: 100%;
                            height: 1px;
                            position: absolute;
                            top: calc(50% - 1px);
                            content: '';
                            z-index: 1;
                            background: #E8E8E8;
                        }

                        > span{
                            position: relative;
                            z-index: 2;

                            @include gbp (0, 768) {
                                background: #fafafa !important;
                            }

                            > span{
                                @include gbp (0, 768) {
                                    background: #fff !important;
                                }
                            }
                        }
                    }
                }
            }

            &__mobile-no-threads{
                position: relative;
                padding:0 8px;
                margin-top: -20px;

                img {
                    width: 100%;
                    height: auto;
                }

                .v-icon{
                    font-size: 13px !important;
                }

                > div{
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding:0 10% 0;
                    width: 100%;
                    height: calc(100% - 20px);
                    display: flex;
                    flex-direction: column;
                   justify-content: center;
                }
            }
        }


    }
}