//--------------------------------------------------------------------------------
//  Wallet
//--------------------------------------------------------------------------------

.v-wallet {
    padding-bottom: 60px;
    padding-top: 170px;

    @include gbp (0, 768) {
        padding-bottom: 60px;
        padding-top: 75px;
    }

    .bold {
        font-weight: 600;
    }

    .col-5 {
        flex: 0 0 100%;
        max-width: 100%;

        @include gbp(1500) {
            flex: 0 0 40%;
            max-width: 40%;
        }
    }

    .col-7 {
        flex: 0 0 100%;
        max-width: 100%;

        @include gbp(1500) {
            flex: 0 0 60%;
            max-width: 60%;
        }
    }

    .col-6 {
        flex: 0 0 100%;
        max-width: 100%;

        @include gbp(550, 1500) {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}